body {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
    background: rgb(139,135,201);
    background: linear-gradient(90deg, rgba(139,135,201,1) 0%, rgba(99,125,186,1) 82%, rgba(208,228,228,1) 100%);
    padding: 0%;
    margin: 0%;
    padding-bottom: 50px;
    color: white;
}

.Form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 30%;
    height: max-content;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background: rgb(61,61,196);
    background: linear-gradient(90deg, rgba(61,61,196,1) 0%, rgba(95,119,175,1) 54%, rgba(148,0,211,1) 100%);
}

#submit {
    background-color: rgb(226, 230, 230);
    border-radius: 20px;
    width: fit-content;
    margin: auto;
}

#submit:hover {
    background-color: rgb(240, 176, 81);
}

* {
    box-sizing: border-box;
    margin: 0%;
}

header {
    background: rgb(16,16,17);
    background: linear-gradient(90deg, rgba(16,16,17,1) 0%, rgba(95,119,175,1) 82%, rgba(156,158,158,1) 100%);
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
    margin: 0%;
    padding: 10px 20px;
}

.Error {
    position: absolute;
    background-color: red;
    font-size: large;
    margin-top: 10px;
    display: none;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    /* justify-items: center; */
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    width: fit-content;
}

.logout {
    background-color: rgb(226, 230, 230);
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin-left: auto;
    /* margin-top: 2%; */
}

.logout:hover {
    background-color: grey;
    color: white;
}

.BasicInfos {
    
    display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 40px auto;
        width: fit-content;
        gap: 20px;
        background-color: #9c9e9e;
        padding: 10px 40px;
        border-radius: 5px;
        color: white;
}

.diveder{
    width: 2px;
    height: 24px;
    background-color: #777;
    display: block;
}

.profile{
    margin: 0%;
    padding: 0%;
}


.BasicInfos span {
    font-size: 20px;
    color: rgba(18, 18, 18, 0.616);
}

.BasicInfos span:nth-of-type(2) {
    font-weight: bold;
}

.LastProjectDone {
    height: fit-content;
    width: fit-content;
    left: 0%;
    background: rgb(16,16,17);
    background: linear-gradient(90deg, rgba(16,16,17,1) 0%, rgba(95,119,175,1) 54%, rgba(156,158,158,1) 100%);
    padding: 4%;
    margin: 2%;
}

li {
    font-family: fantasy;
    font-size: larger;
    color: rgb(189, 146, 228);
}

.ExtraInfos {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;
    justify-content: center;
    right: 0%;
    background: rgb(16,16,17);
background: linear-gradient(90deg, rgba(16,16,17,1) 0%, rgba(95,119,175,1) 54%, rgba(156,158,158,1) 100%);
    padding: 4%;
    margin: 2%;
    font-size: x-large;
}

.ExtraInfos span {
    color: rgb(189, 146, 228);
}

.container {
    margin-bottom: 40px;
    padding: 0%;
    display: flex;
    justify-content: space-evenly;
    height: max-content;
    flex-wrap: wrap;
}


.GraphsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0%;
    margin: 0%;
    flex-wrap: wrap;
}

.RectGraph , .CircleGraph{
    background: rgb(16,16,17);
    background: linear-gradient(90deg, rgba(16,16,17,1) 0%, rgba(95,119,175,1) 54%, rgba(156,158,158,1) 100%);
    border: 1px solid white;
    overflow: auto;
}

.RectGraph {
    padding: 20px 100px;
}